@model User
@{
    ViewBag.Title = "Editar Usuario";
    ViewBag.Favicon = "usuarios.svg";
}

<section class="content">
    <h2 class="mb-5">Editar Usuario: @Model.Names</h2>

    <form class="form" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <div class="cardEdit">
            <div class="mb-3">
                <label class="form-label">Nombres:</label>
                <input type="text" class="form-control"  autofocus asp-for="Names">
            </div>

            <div class="mb-3">
                <label  class="form-label">Apellidos:</label>
                <input type="text" class="form-control" asp-for="LastNames">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Correo:</label>
                <input type="email" class="form-control" asp-for="Email">
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento:</label>
                <input type="date" class="form-control" asp-for="BirthDate">
            </div>

            <div class="mb-3">
                <label class="form-label">Dirección:</label>
                <input type="text" class="form-control" asp-for="Address">
            </div>

            <div class="mb-3">
                <label class="form-label">Teléfono:</label>
                <input type="number" class="form-control" asp-for="Phone">
            </div>
        </div>

        <button class="btn btn-success mt-3">Actualizar</button>
    </form>
</section>