@{
    ViewBag.Title = "Usuario Actualizado";
    ViewBag.Favicon = "usuarios.svg";
}

<div class="content">
    <h3>El usuario "@Model.Id" se ha actualizado con éxito :D</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="Index">Volver</a>
</div>